@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

:root {
    --orange: hsl(26, 100%, 55%);
    --lightOrange : hsl(27, 100%, 71%);
    --paleOrange: hsl(25, 100%, 94%);
    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --transparentBlack: hsla(0, 0%, 0%, 0.75);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.lightbox-overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;            
    left: 0;           
    right: 0;
    bottom: 0;       
    background-color: var(--transparentBlack);
    z-index: 5;
}

.lightbox-overlay.hidden {
    display: none;
}

.product-images-lightbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 37rem;
    gap: 2rem;
}

.closeLightboxBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
}

.closeLightboxBtn path {
    fill: var(--white);
    transition: all 250ms ease-out;
}

.closeLightboxBtn:hover path {
    fill: var(--orange);
    transition: all 250ms ease;
}

.previousBtnLightbox {
    position: absolute;
    top: calc(50% - 25px);
    left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
    padding: 1rem;
    width: 3.125rem;
    height: 3.125rem;
}

.nextBtnLightbox {
    position: absolute;
    top: calc(50% - 25px);
    right: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
    padding: 1rem;
    width: 3.125rem;
    height: 3.125rem;
}

.main-image-lightbox {
    max-width: 100%;
    border-radius: 1rem;
}

.preview-images-lightbox {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.mainImgDiv, .previewImgBtn-lightbox {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    opacity: 1;
    width: fit-content;
}

.mainImgDiv {
    position: relative;
}

.previewImgBtn-lightbox {
    cursor: pointer;
}

.main-image-lightbox.hidden {
    display: none;
}

.previewImgBtn-lightbox {
    background-color: var(--white);
}

.preview-image-lightbox {
    max-width: 100%;
    border-radius: 1rem;
    transition: opacity 250ms ease-out;
}

.previewImgBtn-lightbox {
    outline: 2px solid transparent;
    transition: outline 250ms ease-out;
}

.previewImgBtn-lightbox:hover .preview-image-lightbox {
    opacity: 50%;
    transition: opacity 250ms ease;
}

.previewImgBtn-lightbox.selected .preview-image-lightbox {
    opacity: 25%;
    transition: opacity 250ms ease;
}

.previewImgBtn-lightbox:focus-visible {
    outline: 2px solid var(--black) !important;
    transition: outline 250ms ease;
}

.previewImgBtn-lightbox.selected {
    outline: 2px solid var(--orange);
    transition: outline 250ms ease;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block-end: 2rem;
    border-bottom: solid 1px var(--grayishBlue);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.nav-categories {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
}

.nav-categories a {
    text-decoration: none;
    color: var(--darkGrayishBlue);
    transition: color 250ms ease-out;
    display: inline-block;
    position: relative;
    font-size: clamp(0.875rem, 0.126vw + 0.85rem, 1rem);
}

.nav-categories a::after {
    content: "";
    position: absolute;
    background-color: var(--orange);
    height: 3px;
    left: 0;
    width: 100%;
    bottom: -54px;
    transform: scaleX(0);
    transition: transform 250ms ease-out;
}

.nav-categories a:hover {
    color: var(--veryDarkBlue);
    transition: color 250ms ease;
}

.nav-categories a:hover::after {
    transform: scaleX(1);
    transition: transform 250ms ease;
}

.mobile-menu-overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;            
    left: 0;           
    right: 0;
    bottom: 0;    
    background-color: var(--transparentBlack);
    z-index: 5;
    transition: all 250ms ease;
}

.mobile-menu-overlay.hidden {
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease-out;
}

.cart-and-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.deleteItemBtn, .cartBtn, .decreaseBtn, .increaseBtn, .profileBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cartBtn path {
    fill: var(--darkGrayishBlue);
    transition: all 250ms ease-out;
}

.cartBtn:hover path {
    fill: var(--veryDarkBlue);
    transition: all 250ms ease;
}

.cart-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-icon {
    position: relative;
}

.cart-items-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-color: var(--orange);
    color: var(--white);
    position: absolute;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    bottom: 62%;
    left: 32%;
    border-radius: 1rem;
}

.cart-items-notification.hidden {
    display: none;
}

.cart-menu {
    position: absolute;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.625rem;
    top: calc(100% + 2rem);
    width: clamp(16.5rem, 18.909vw + 7.045rem, 23rem);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    transition: opacity 250ms ease-out;
}

.cart-menu.shown {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 250ms ease;
}

.cart-heading {
    font-size: clamp(0.875rem, 0.126vw + 0.85rem, 1rem);
    font-weight: 700;
    padding-block-end: 1rem;
}

.cart-line {
    border: none;
    height: 1px;
    background-color: var(--grayishBlue);
    margin-inline-start: -1rem;
    margin-inline-end: -1rem;
    margin-block-end: 1rem;
}

.product-cart-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8.5rem;
}

.product-cart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.product-cart-wrapper.hidden {
    display: none;
}

.product-in-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.product-cart-img {
    height: 4rem;
    border-radius: 0.625rem;
}

.product-cart-checkout-details {
    font-size: clamp(0.875rem, 0.126vw + 0.85rem, 1rem);
    color: var(--darkGrayishBlue);
}

.product-pricing-cart-info {
    word-spacing: 3px;
}

.deleteItemBtn path {
    fill: var(--darkGrayishBlue);
    transition: all 250ms ease-out;
}

.deleteItemBtn:hover path {
    fill: var(--veryDarkBlue);
    transition: all 250ms ease;
}

.checkoutBtn {
    padding: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: clamp(0.984rem, 0.141vw + 0.956rem, 1.125rem);
    font-weight: 700;
    border-radius: 0.625rem;
    background-color: var(--orange);
    color: var(--veryDarkBlue);
    width: 100%;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 250ms ease-out;
}

.checkoutBtn:hover {
    background-color: var(--lightOrange);
    transition: all 250ms ease;
}

.cart-empty-message {
    color: var(--darkGrayishBlue);
    font-weight: 700;
}

.cart-empty-message.hidden {
    display: none;
}

.profileBtn {
    border-radius: 50%;
    outline: 2px solid transparent;
    transition: outline 150ms ease-out;
}

.profileBtn:focus-visible {
    outline: 2px solid var(--black);
}

.profileBtn:hover {
    outline: 2px solid var(--orange);
    transition: outline 250ms ease;
}

.avatar {
    height: 4rem;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 4rem clamp(0rem, 11.765vw - 8.824rem, 2rem);
}

.product-images {
    display: flex;
    flex-direction: column;
    max-width: 32rem;
    gap: 2rem;
}

.main-image {
    max-width: 100%;
    border-radius: 1rem;
    transition: opacity 250ms ease-out;
}

.main-image:hover {
    opacity: 90%;
    transition: opacity 250ms ease;
}

.preview-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.mainImgBtn, .previewImgBtn {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 1;
    width: fit-content;
}

.main-image.hidden {
    display: none;
}

.preview-image {
    max-width: 100%;
    border-radius: 1rem;
    transition: opacity 250ms ease-out;
}

.previewImgBtn {
    outline: 2px solid transparent;
    transition: outline 250ms ease-out;
}

.previewImgBtn:hover .preview-image {
    opacity: 50%;
    transition: opacity 250ms ease;
}

.previewImgBtn.selected .preview-image {
    opacity: 25%;
    transition: opacity 250ms ease;
}

.previewImgBtn:focus-visible {
    outline: 2px solid var(--black) !important;
    transition: outline 250ms ease;
}

.previewImgBtn.selected {
    outline: 2px solid var(--orange);
    transition: outline 250ms ease;
}

.product-info {
    max-width: 32rem;
}

.product-company {
    text-transform: uppercase;
    color: var(--darkGrayishBlue);
    font-weight: 700;
    letter-spacing: 2px;
    margin-block-end: 1rem;
    font-size: clamp(0.875rem, 0.126vw + 0.85rem, 1rem);
}

.product-title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--veryDarkBlue);
    margin-block-end: clamp(1rem, 2.158vw - 0.079rem, 2.5rem);
    font-size: clamp(3.063rem, 0.44vw + 2.975rem, 3.5rem);
}

.product-description {
    color: var(--darkGrayishBlue);
    margin-block-end: 1rem;
    font-size: clamp(0.875rem, 0.126vw + 0.85rem, 1rem);
    line-height: clamp(1.7rem, -0.05vw + 1.76rem, 1.75rem);
}

.product-pricing {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-end: 1rem;
}

.current-pricing {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.discounted-price {
    color: var(--veryDarkBlue);
    font-size: clamp(1.75rem, 0.251vw + 1.7rem, 2rem);
    font-weight: 700;
}

.discount {
    background-color: var(--veryDarkBlue);
    padding: 0.2rem 0.5rem;
    border-radius: 0.625rem;
    color: var(--white);
    font-weight: 700;
    font-size: clamp(0.875rem, 0.126vw + 0.85rem, 1rem);
}

.normal-price {
    text-decoration: line-through;
    font-size: clamp(1.094rem, 0.157vw + 1.062rem, 1.25rem);
    color: var(--darkGrayishBlue);
    font-weight: 700;
}

.product-purchace {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1rem;
}

.product-ammount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.625rem;
    padding: 1rem;
    background-color: var(--lightGrayishBlue);
    color: var(--veryDarkBlue);
    width: 35%;
    text-align: center;
    font-size: clamp(0.984rem, 0.141vw + 0.956rem, 1.125rem);
    font-weight: 700;
}

.decreaseBtn path, .increaseBtn path {
    transition: all 250ms ease-out;
}

.decreaseBtn:hover path {
    fill: var(--lightOrange);
    transition: all 250ms ease;
}

.increaseBtn:hover path {
    fill: var(--lightOrange);
    transition: all 250ms ease;
}

.add-to-cart-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: clamp(0.984rem, 0.141vw + 0.956rem, 1.125rem);
    font-weight: 700;
    border-radius: 0.625rem;
    background-color: var(--orange);
    color: var(--veryDarkBlue);
    width: 65%;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 250ms ease-out;
}

.add-to-cart-btn:hover {
    background-color: var(--lightOrange);
    transition: all 250ms ease;
}

.cart {
    fill: var(--veryDarkBlue);
}

@media only screen and (max-width: calc(75rem - 1px)) {
    main {
        flex-direction: column;
        padding: 4rem clamp(1rem, 4vw - 1rem, 2rem);
        gap: 3rem;
    }

    .product-images {
        flex-direction: row;
        max-width: none;
    }

    .main-image {
        max-width: none; 
        width: 35rem;
    }

    .preview-images {
        flex-direction: column;
        justify-content: space-between;
        width: 8rem;
    }

    .product-info {
        max-width: 35rem;
    }

    .product-pricing {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .current-pricing {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    .discounted-price {
        color: var(--veryDarkBlue);
        font-size: clamp(1.75rem, 0.251vw + 1.7rem, 2rem);
        font-weight: 700;
    }

    .discount {
        background-color: var(--veryDarkBlue);
        padding: 0.2rem 0.5rem;
        border-radius: 0.625rem;
        color: var(--white);
        font-weight: 700;
        font-size: clamp(0.875rem, 0.126vw + 0.85rem, 1rem);
    }

    .normal-price {
        text-decoration: line-through;
        font-size: clamp(1.094rem, 0.157vw + 1.062rem, 1.25rem);
        color: var(--darkGrayishBlue);
        font-weight: 700;
    }

    .product-purchace {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 1rem;
    }

    .product-ammount {
        width: 35%;
    }

    .add-to-cart-btn {
        width: 65%;
    }
}

@media only screen and (max-width: calc(50rem - 1px)) {
    body {
        padding: 0;
    }
    
    .wrapper {
        position: relative;
        overflow-x: hidden;
        width: 100%;
    }

    header {
        padding: 1rem 2rem;
        border-bottom: none;
    }

    nav {
        gap: clamp(1rem, 9.143vw - 1.571rem, 3rem);
    }

    .mobileMenuBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .mobileMenuBtn path{
        transition: all 250ms ease-out;
    }

    .mobileMenuBtn:hover path {
        fill: var(--black);
        transition: all 250ms ease;
    }

    .nav-categories {
        display: flex;
        flex-direction: column;
        position: fixed;
        transform: translateX(-100%);
        top: 0;
        left: 0;
        height: 100vh;
        width: 70%;
        background: var(--white);
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
        padding: calc((clamp(2rem, 9.143vw - 0.571rem, 4rem) - 1rem) / 2 + 1rem) 2rem;
        z-index: 6; 
    }

    .nav-categories.closed {
        transition: all 250ms ease-out;
    }

    .nav-categories.open {
        transform: translateX(0%);
        transition: all 250ms ease;
    }

    .nav-categories a {
        text-decoration: none;
        color: var(--veryDarkBlue);
        transition: color 250ms ease-out;
        display: inline-block;
        position: relative;
        font-size: clamp(1.25rem, 2.5vw + 0.75rem, 2rem);
        font-weight: 700;
    }

    .nav-categories a::after {
        display: none;
    }

    .nav-categories a:hover {
        color: var(--orange);
        transition: color 250ms ease;
    }

    .closeMobileMenuBtn {
        display: flex;
        align-items: center;
        justify-content: start;
        border: none;
        background-color: transparent;
        cursor: pointer;
        width: fit-content;
        margin-block-end: 4rem;
    }

    .closeMobileMenuBtn path{
        transition: all 250ms ease-out;
    }

    .closeMobileMenuBtn:hover path {
        fill: var(--black);
        transition: all 250ms ease;
    }

    .cart-and-profile {
        gap: clamp(1rem, 6.857vw - 0.929rem, 2.5rem);
    }

    .cart-menu {
        right: clamp(-7rem, -11.765vw - 1.118rem, -5rem);
    }

    .avatar {
        height: clamp(2rem, 9.143vw - 0.571rem, 4rem);
    }

    main {
        width: 100%;
        padding: 0;
        padding-block-end: 2rem;
        gap: 2rem;
    }

    .product-images {
        padding: 0 2rem;
    }

    .main-image-wrapper {
        position: relative;
    }

    .mainImgBtn {
        cursor: default;
        pointer-events: none;
    }

    .main-image {
        width: 100%;
    }

    .preview-images {
        display: none;
    }

    .previousBtn {
        position: absolute;
        top: calc(50% - 25px);
        left: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        background-color: var(--white);
        cursor: pointer;
        padding: 1rem;
        width: 3.125rem;
        height: 3.125rem;
    }

    .nextBtn {
        position: absolute;
        top: calc(50% - 25px);
        right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        background-color: var(--white);
        cursor: pointer;
        padding: 1rem;
        width: 3.125rem;
        height: 3.125rem;
    }

    .product-info {
        padding: 0 2rem;
        max-width: none;
    }
}

@media only screen and (max-width: calc(33rem - 1px)) {
    header {
        padding: 1rem;
        border-bottom: none;
    }

    .nav-categories {
        padding: calc((clamp(2rem, 9.143vw - 0.571rem, 4rem) - 1rem) / 2 + 1rem) 1rem;
    }

    .cart-menu {
        right: clamp(-4rem, -7.692vw - 1.462rem, -3rem);
    }

    .product-images {
        padding: 0;
    }

    .main-image {
        border-radius: 0;
    }

    .product-pricing {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .product-purchace {
        display: grid;
        grid-auto-rows: 1fr;
        gap: 1rem;
    }

    .product-ammount {
        width: 100%;
    }

    .add-to-cart-btn {
        width: 100%;
    }
}

@media only screen and (max-width: calc(25rem - 1px)) {
    .cart-menu {
        display: none;
    }

    .cart-menu-mobile {
        position: absolute;
        top: 42%;              
        left: 50%;           
        transform: translate(-50%, -50%); 
        width: 95%;             
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding: 1rem;
        border-radius: 0.625rem;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        pointer-events: none;
        z-index: 5;
        opacity: 0;
        transition: opacity 250ms ease-out;
    }

    .cart-menu-mobile.shown {
        pointer-events: auto;
        opacity: 1;
        transition: opacity 250ms ease;
    }

    .product-cart-info {
        height: 10rem;
    }
}